body{
    background-image: url('../IMG/backgroundLogin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12em;

}

.dadosEBotao {
    display: flex;
    padding: 0.6em;
    flex-direction: column;
    gap: 0.4em;
}

.dadosEBotao button {
    width: 40%;
    margin-left: 4.5em;
}