body{
    background-image: url('../IMG/backgroundLogin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12em;

}

.dadosEBotao {
    display: flex;
    padding: 0.6em;
    flex-direction: column;
    gap: 0.4em;
}

.dadosEBotao button {
    width: 40%;
    margin-left: 4.5em;
}

/* Media Query para telas até 314px de largura */
@media (max-width: 314px) {
    .login-form {
        margin: 3em auto; /* Reduz a margem para não ocupar tanto espaço */
        width: 90%; /* O formulário ainda ocupa 90% da largura da tela */
    }

    .dadosEBotao button {
        width: 100%; /* O botão ocupa toda a largura disponível */
    }
}

/* Media Query para telas até 642px de altura */
@media (max-height: 642px) {
    .login-form {
        margin: 3em auto; /* Reduz a margem para maximizar o espaço */
    }

    .dadosEBotao button {
        width: 70%; /* O botão é um pouco maior em telas de altura limitada */
    }
}

/* Media Query combinada para telas até 314x642px */
@media (max-width: 314px) and (max-height: 642px) {
    .login-form {
        margin: 2em auto; /* Aumenta a proximidade nas bordas em telas muito pequenas */
        width: 90%; /* O formulário ocupa quase toda a largura */
        font-size: 0.9em; /* Ajusta o tamanho da fonte para se adequar a telas menores */
    }

    .dadosEBotao button {
        width: 100%; /* O botão ocupa toda a largura em telas muito pequenas */
        font-size: 1em; /* Ajusta o tamanho da fonte do botão */
    }
}