#cabecalho {
    margin: auto;
    background-color: red;
    height: 6em;
    align-items: center;
    padding: 1em;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#nome {
     margin-left: 1.2em;
    font-size: 3em;
}

#cabecalho ul {
    margin-right: 2em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#cabecalho li {
    display: flex;
    font-size: 1.5em;
}